// 
// Icons
// 

.social-icons {
    .social-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 3.5rem;
        width: 3.5rem;
        color: $white;
        border-radius: 100%;
        font-size: 1.5rem;
        text-decoration: none;

        &:last-child {
            margin-right: 0;
        }
    }
}

.dev-icons {
    .dev-icon {
        text-align: center;
        .label {
            font-size: 1rem;
        }
        img {
            width: 64px;
            height: 64px;
        }
        display: inline-block;        
    }
    // .dev-icon:not(:last-child) {
    //     margin-right: 1.5rem;
    // }
}
