section#about.resume-section
  .resume-section-content
    h1.mb-0
      | Shea 
      span.text-primary Faigan
    .subheading.mb-5
      | Email: #[a(href='mailto:contact@sheafaigan.me') contact@sheafaigan.me]
    p.lead.mb-5
      | I am in my final year of Software Engineering at University of Victoria. I have experience in full-stack enterprise web application development, and QA testing and automation. I expect to graduate in August 2022 and am open to work. I am also looking to learn more about software engineering and computer science through conferences and hackathons, as well as build my professional network.
    .social-icons.row
      .col-md-1.text-center
        a.social-icon(href='https://linkedin.com/in/sfaigan')
          img(src="assets/img/svg/linkedin.svg")
        .p.mb-0 LinkedIn
      .col-md-1.text-center
        a.social-icon(href='https://github.com/sfaigan')
          img(src="assets/img/svg/github.svg")
        .p.mb-0 GitHub
