- 
  var relevantCourses = {
    
  }

section#education.resume-section
  .resume-section-content
    h2.mb-5 Education
    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
      .flex-grow-1
        h3.mb-0 University of Victoria
        .subheading.mb-3 Bachelor of Software Engineering
        span GPA: 3.85/4.00
      .flex-shrink-0
        span.text-primary Expected Graduation: Aug. 2022
