section#experience.resume-section
  .resume-section-content
    h2.mb-5 Experience

    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
      .flex-grow-1
        h3.mb-0 Workday (Workday HCM: Knowledge Base)
        .subheading.mb-3 Software Development Engineer (Full Stack), Co-op
        ul.mb-0
          li Developed accessible and maintainable front-end code using <b>TypeScript</b> and <b>React</b> and robust and extendible back-end code using <b>Kotlin</b>, <b>Spring</b>, and <b>AWS</b>, within a core team of 8 to serve millions of users worldwide
          li Identified, triaged, and fixed bugs, implementing new tests using <b>Mocha</b>, <b>Cypress</b>, and <b>Spring Testing</b> to prevent further bugs and increase test coverage
          li Used <b>ElasticSearch</b> to find recurring exception, identified cause, wrote formal report, and improved exception handling process using <b>Kotlin</b> and <b>Spring</b>
          li <i>Self-initiated (internal hackathon):</i> Developed dashboard ("front door") for users to find knowledge base articles with various filtering options using <b>TypeScript</b>, <b>React</b>, and <b>Kotlin</b>
          li <i>Self-initiated:</i> Automated a costly part of the deploy process involving manual work from managers and developers using Slack
      .flex-shrink-0
        span.text-primary June 2020 - April 2021

    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
      .flex-grow-1
        h3.mb-0 SAP (SAP Analytics Cloud - Infrastructure)
        .subheading.mb-3 Developer (Full Stack), Co-op
        ul.mb-0
          li Developed user-facing features and fixed bugs using <b>JavaScript</b>, <b>SAPUI5</b>, and <b>Java</b> within a core team of 12 to serve 2000+ companies worldwide
          li Developed automated quality assurance tests using <b>JavaScript</b> and <b>Jasmine</b> 
          li Worked with various development and UX teams to complete a UI overhaul of SAP Analytics Cloud using <b>JavaScript</b> and <b>SAPUI5</b>
          li <i>Self-initiated:</i> Developed a web application to facilitate office navigation and meeting room booking using <b>JavaScript</b>, <b>Node.js</b>, <b>React</b>, and <b>Redux</b>; deployed office-wide, serving over 2000 employees
          li <i>Self-initiated:</i> Redefined file ownership (by team) programmatically using <b>Python</b>; developed Slack bot for simplified chat query-based access using <b>CoffeeScript</b>, <b>Hubot</b>, and <b>Redis</b>; deployed company-wide with automated builds using <b>Jenkins</b>
      .flex-shrink-0
        span.text-primary January 2018 - August 2018

    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
      .flex-grow-1
        h3.mb-0 Cradlepoint
        .subheading.mb-3 QA Software Development Intern
        ul.mb-0
          li Developed automated QA tests using <b>Python</b>, <b>Pytest</b>, and <b>Selenium</b>, resulting in an increase of 10% in test coverage
          li Developed script to automate soak test process using <b>Python</b>, <b>Bash</b>, and <b>Redis</b>
          li Developed JIRA gadget to display metrics from <b>TestRail</b> using <b>JavaScript</b>
      .flex-shrink-0
        span.text-primary June 2017 - August 2017

    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
      .flex-grow-1
        h3.mb-0 Nature's Fare Markets
        .subheading.mb-3 Customer Service
        ul.mb-0
          li Assisted customers with product location and other information
          li Responsible for stocking products and overall store maintenance
          li Assembled and organized displays
          li Developed competencies in personal management, communication, project and task management, teamwork, commitment to quality, professional behaviour, and continuous learning
      .flex-shrink-0
        span.text-primary August 2014 - August 2016
