include mixins/navigation.pug

doctype html
html(lang="en")

  head

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description", content="Shea Faigan - Resume")
    meta(name="author", content="Shea Faigan")

    title Shea Faigan - Resume

    link(rel="icon", type="image/x-icon", href="assets/img/favicon.ico")

    // Devicon font
    link(rel="stylesheet" href="devicon.min.css")

    // Google fonts
    link(href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i", rel="stylesheet", type="text/css")

    // Core theme CSS (includes Bootstrap)
    link(href="css/styles.css", rel="stylesheet")

  body#page-top

    +navigation(
      "About",
      "Education",
      "Experience",
      "Projects",
      "Skills",
      "Volunteering"
      )

    // Page Content
    .container-fluid.p-0

      // Sections
      include includes/about.pug
      hr.m-0
      include includes/education.pug
      hr.m-0
      include includes/experience.pug
      hr.m-0
      include includes/projects.pug
      hr.m-0
      include includes/skills.pug
      hr.m-0
      include includes/volunteering.pug
      hr.m-0

    // Bootstrap core JS
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js")

    // Core theme JS
    script(src="js/scripts.js")
